<div class="footer-custom">
<span class="post-meta-item"><a href="https://github.com/"><i class="fab fa-github"></i> GitHub</a></span>
<span class="post-meta-item"><a href="https://github.com/features/actions"><i class="far fa-play-circle"></i> Actions</a></span>
<span class="post-meta-item"><a href="https://github.com/yuuki410/yuuki410.github.io/"><i class="fas fa-code"></i> Code</a></span>
</div>