<div class="footer-custom">
<span class="post-meta-item"><i class="fab fa-github"></i><a href="https://github.com/">GitHub</a></span>
<span class="post-meta-item"><a href="https://github.com/features/actions">Actions</a></span>
<span class="post-meta-item"><a href="https://github.com/yuuki410/yuuki410.github.io/">Code</a><i class="fas fa-code"></i></span>
</div>